@import "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,500";

body {
	background: #f3f3f3;
}

a {
    &:hover, &:focus {
        text-decoration: none;
    }
}

* {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
	margin-top: 20px;
	.buscador {
		h1 {
			margin-bottom: 50px;
			font-size: 27px;
			color: #052b9a;
		}
		.borde {
				border: 1px solid white;
			    padding-bottom: 10px;
			    max-width: 300px;
			    margin: auto;
			    margin-top: 20px;
			.azar {
				margin-top: 20px;
				background: #ffe68f;
			    display: inline-block;
			    padding: 10px;
			    border-radius: 3px;
			    margin-bottom: 60px;
				a {
					color: #353535;
					font-size: 14px;
					font-weight: 500;
					text-transform: uppercase;
					&:hover, &:focus {
						text-decoration: none;
						color: #052b9a;
					}
				}
			}
		}
		.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
			outline: none;
		}
		#resultado {
			margin: 35px 0;
		}
	}
}

.titulo {
	color: #574d61;
    font-size: 30px;
    background: #dcdcdc;
    border-radius: 6px;
    padding: 25px;
}

.descStyle {
	background: rgb(255, 238, 117);
    color: #3f51b5;
    padding: 45px;
    margin-bottom: 55px;
    border-radius: 6px;
}